---
- name: Common Setup for All Servers
  hosts: motivator_group:memer_group
  become: yes
  tasks:
    - name: Install Docker and dependencies
      apt:
        name: [docker.io, python3-docker, python3-pip]
        state: present
        update_cache: yes

- name: Deploy Motivator Bot
  hosts: motivator_group
  become: yes
  tasks:
    - name: Copy Motivator code
      copy:
        src: "../motivator-bot/"
        dest: "/home/ubuntu/motivator/"
        owner: ubuntu
        mode: '0755'

    - name: Run Motivator Container
      docker_container:
        name: motivator
        image: motivator_bot
        state: started
        restart_policy: always
        recreate: yes
        build:
          path: "/home/ubuntu/motivator"
        env:
          TG_TOKEN: "{{ motivator_token }}"
          DB_HOST: "{{ db_host }}"
          DB_PASS: "{{ db_password }}"
          DB_USER: "bot_admin"
          DB_NAME: "bot_stats"

- name: Deploy Memer Bot
  hosts: memer_group
  become: yes
  tasks:
    - name: Copy Memer code
      copy:
        src: "../memer-bot/"
        dest: "/home/ubuntu/memer/"
        owner: ubuntu
        mode: '0755'

    - name: Run Memer Container
      docker_container:
        name: memer
        image: memer_bot
        state: started
        restart_policy: always
        recreate: yes
        build:
          path: "/home/ubuntu/memer"
        env:
          TG_TOKEN: "{{ memer_token }}"
          DB_HOST: "{{ db_host }}"
          DB_PASS: "{{ db_password }}"
          DB_USER: "bot_admin"
          DB_NAME: "bot_stats"